<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 <settings>
		  <setting name="jdbcTypeForNull" value="NULL" />
		 </settings>
 <!-- 命名空间 -->
    <typeAliases>
    	 <typeAlias alias="User" type="com.secondLifeMarket.general.admin.model.User"/>
    </typeAliases>
    
      <typeHandlers>
        <typeHandler javaType="Boolean" jdbcType="BIT"
                     handler="com.secondLifeMarket.general.admin.util.framework.Bit2booleanTypeHandler"/>
    </typeHandlers>
    
</configuration>